<div class="body__bg">

    <!-- Header Navbar End -->
    <router-outlet>
        <!--===================== Modal Order Ticket Start================================= -->
        <div class="modal fade" id="orderModal" tabindex="-1" aria-labelledby="orderModal" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="container ticket-order__width">
                        <div class="row">
                            <div class="col-md-8">
                                <div id="carouselExampleControlsOrder" class="carousel slide" data-mdb-interval="false">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <h5 class="modal-title ticket-order__font">Đặt vé</h5>
                                            <div class="order-ticket">
                                                <h3 class="ticket-order__font-nav">PHIM</h3>
                                                <select class="ticket-order__border" (change)="loadScreeningDate($event.target.value)" (change)="loadFilmDetail($event.target.value)">
                                                    <option checked>Vui lòng chọn phim</option>
                                                    <option *ngFor="let public_film of public_films"
                                                        value="{{public_film.id}}">
                                                        {{public_film.film_name}}</option>
                                                </select>
                                            </div>
                                            <!-- <div class="date">
                                            <h3 class="ticket-order__font-nav">NGÀY</h3>
                                            <input type="date" class="ticket-order__border" >
                                           </div> -->
                                            <h3 class="ticket-order__font-nav">NGÀY</h3>
                                            <select class="ticket-order__border" (change)="loadStartTime($event.target.value)">
                                            <option checked>Vui lòng chọn Ngày chiếu</option>
                                            <option *ngFor="let date of dates" value="{{date.date}}">{{date.date | date:'dd/MM/yyyy'}}
                                            </option>
                                           </select>

                                            <h3 class="ticket-order__font-nav">GIỜ CHIẾU</h3>
                                            <div class="time">
                                                <button *ngFor="let start_time of start_times" (click)="loadRoom(start_time.start_time)" class="btn btn-outline-dark btn-rounded btn-sm ticket-order__space" data-mdb-ripple-color="dark">{{start_time.start_time}}</button>
                                            </div>

                                            <h3 class="ticket-order__font-nav">PHÒNG CHIẾU</h3>
                                            <div class="time">
                                                <button *ngFor="let room of rooms" (click)="loadScreeningId(room.room_id)" class="btn btn-outline btn-rounded btn-sm ticket-order__space" data-mdb-ripple-color="dark" data-mdb-slide="next" data-mdb-target="#carouselExampleControlsOrder">{{room.room_id}}</button>
                                            </div>

                                            <button type="button" class="btn btn-outline-warning btn-rounded btn-sm ticket-order__space-top " data-mdb-slide="next" data-mdb-target="#carouselExampleControlsOrder" data-mdb-ripple-color="dark">NEXT</button>
                                        </div>
                                        <!-- Modal Seat Start -->
                                        <div class="carousel-item container">
                                            <h5 class="modal-title ticket-order__font">SEAT</h5>
                                            <img class="ticket-order__screen-bottom" src="assets/frontend/img/ScreenForSeating_450.png " alt="">
                                            <div *ngFor="let seat of seats" class="row">
                                                <div class="col-1 ticket-order__seat-top ticket-order__font-row">{{seat.row}} </div>
                                                <div class="col-10 ticket-order__seat-top ticket-order__font-row">
                                                    <div class="col-3"></div>
                                                    <div class="col-6"></div>
                                                    <div class="col-3"></div>
                                                    <ng-cointainer *ngFor="let seat_number of seat['number']">
                                                        <ng-container *ngIf="seat_number.screening_id != null && seat_number.screening_id == screening_id ; else seatDisable">
                                                            <button class="btn btn-outline btn-rounded btn-sm seat-disable">{{seat_number.number}}</button>
                                                        </ng-container>
                                                        <ng-template #seatDisable>
                                                            <button (click)="seatSelect($event,seat_number.id)" id="seatSelected" value="{{seat_number.row}}{{seat_number.number}}" type="button" class="btn btn-warning ticket-order__border-seat">{{seat_number.number}}</button>
                                                        </ng-template>
                                                    </ng-cointainer>
                                                </div>
                                                <!-- <div class="col-md-3">
                                                        <div class="seat-chart ticket-order__seat-top">
                                                            <div class="a1">
                                                                <input type="checkbox" class="btn-check" id="a1" autocomplete="off" />
                                                                <label class="btn btn-warning ticket-order__border-seat" for="a1">1</label>
                                                            </div>
                                                            <div class="a2">
                                                                <input type="checkbox" class="btn-check" id="a2" autocomplete="off" />
                                                                <label class="btn btn-warning ticket-order__border-seat" for="a2">2</label>
                                                            </div>
                                                            <div class="a3">
                                                                <input type="checkbox" class="btn-check" id="a3" autocomplete="off" />
                                                                <label class="btn btn-warning ticket-order__border-seat" for="a3">3</label>
                                                            </div>
                                                            <div class="a4">
                                                                <input type="checkbox" class="btn-check" id="a4" autocomplete="off" />
                                                                <label class="btn btn-warning ticket-order__border-seat" for="a4">4</label>
                                                            </div>
                                                        </div>
                                                    </div> -->

                                            </div>

                                            <div class="col-md-1">
                                                <button (click)=clearSeat() type="button" class="btn btn-outline-warning btn-rounded btn-sm ticket-order__space-top" data-mdb-slide="prev" data-mdb-target="#carouselExampleControlsOrder" data-mdb-ripple-color="dark">Previous</button>
                                            </div>

                                        </div>
                                        <!-- Modal Seat End -->

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Your Information Start -->
                        <div class="col-md-4 ">
                            <h5 class="modal-title ticket-order__font ">THÔNG TIN ĐẶT VÉ</h5>
                            <h3 class="ticket-order__font-nav ">PHIM</h3>
                            <h5 class="ticket-order__inf ">{{move_name}}</h5>
                            <h3 class="ticket-order__font-nav ">NGÀY CHIẾU</h3>
                            <h5 class="ticket-order__inf ">{{date | date: 'dd/MM/yyyy'}}</h5>
                            <h3 class="ticket-order__font-nav ">GIỜ CHIẾU</h3>
                            <h5 class="ticket-order__inf ">{{start_time}}</h5>
                            <h3 class="ticket-order__font-nav ">SỐ GHẾ</h3>
                            <h5 class="ticket-order__inf ">
                                <ng-container *ngFor="let seatt of seat"> {{seatt}}</ng-container>
                            </h5>
                            <h3 class="ticket-order__font-nav ">SỐ LƯỢNG VÉ: {{seat.length}}</h3>
                            <h3 class="ticket-order__font-nav ">TỔNG TIỀN: {{total_price}}</h3>
                            <button class="btn btn-outline-warning" (click)="clearSeat()">Clear</button>
                            <form [formGroup]="orderTicketForm" (ngSubmit)="save()">
                                <input class="ticket-order__inf name" formControlName="film_id" hidden>
                                <input class="ticket-order__inf name" formControlName="screening_id" hidden>
                                <input class="ticket-order__inf name" formControlName="seats" hidden>
                                <input class="ticket-order__inf name" formControlName="combo_id" hidden>
                                <input class="ticket-order__inf name" formControlName="discount_id" hidden>
                                <input class="ticket-order__inf name" formControlName="phone_number" hidden>
                                <input class="ticket-order__inf name" formControlName="user_id" hidden>
                                <input class="ticket-order__inf name" formControlName="status" hidden>
                                <input class="ticket-order__inf name" formControlName="ticket_price" hidden>
                                <input class="ticket-order__inf name" formControlName="total_price" hidden>
                                <div class="seatReceipt">
                                    <button type="submit" class="btn btn-outline-primary">Đặt vé</button>
                                </div>
                            </form>

                        </div>
                        <!-- Your Information End -->
                    </div>
                </div>
            </div>


            <!-- ============================Modal Order Ticket End============================== -->
    </router-outlet>
    <!-- Footer Start -->
    <div class="footer container footer__height head__border footer__bottom">
        <div class="row">
            <div class="col-3">
                <h2 class="footer__tittle">MENU</h2>
                <p class="footer__font">Home</p>
                <p class="footer__font">Showtimes</p>
                <p class="footer__font">Order Ticket</p>
                <i class="fab fa-youtube footer__social footer__space"></i>
                <i class="fab fa-facebook footer__social footer__space"></i>
                <i class="fab fa-twitter footer__social"></i>
            </div>
            <div class="col-3">
                <h2 class="footer__tittle">ADDRESS</h2>
                <p class="footer__font">28 Nguyen Tri Phuong Street,</p>
                <p class="footer__font">Phu Nhuan, Hue City</p>
                <p class="footer__font">Email: cinerama@gmail.com</p>
                <p class="footer__font"><i class="fas fa-phone-alt footer__social footer__space"></i>+0125.124789</p>
            </div>
            <div class="col-6">
                <h2 class="footer__tittle">CONTACT</h2>
                <div class="form-outline mb-4 footer__border">
                    <input type="text" id="form4Example1" class="form-control" />
                    <label class="form-label text-white-50" for="form4Example1">Name *</label>
                </div>
                <div class="form-outline mb-4 footer__border">
                    <input type="text" id="form4Example1" class="form-control" />
                    <label class="form-label text-white-50" for="form4Example1">Email *</label>
                </div>
                <div class="form-outline mb-4 footer__border">
                    <textarea class="form-control"></textarea>
                    <label class="form-label text-white-50" for="form6Example7">Message * </label>
                </div>
                <button type="button" class="btn btn-outline-warning btn-rounded">SEND TO US</button>
            </div>
        </div>
    </div>
    <div class="logo container head__height-menu text-center">
        <div class="row">
            <div class="col-md-4">
                <div class="col-md-4">
                    <p class="footer__font">
                        @ Do Not Copyright</p>
                </div>
            </div>
            <div class="col-md-4">
                <img class="footer__logo head__margin" src="../../../../assets/frontend/logo/Logo-light.png" alt="logo">
            </div>
            <div class="col-md-4">
                <p class="footer__font">
                    @License by: 'Nhac cong di xem phim'</p>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    </div>