<!-- Header Navbar Start -->
<title>Danh sách Phim</title>
<div class="header container-fluid text-center head__border head__bottom">
    <div class="row">
        <div class="col-md-2 head__display">
            <img class="head__logo head__margin" src="../../../../assets/frontend/logo/Logo-light.png" alt="logo">
        </div>
        <div class="col-md-8 head__display">
            <nav class="navbar navbar-expand-lg head__margin">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link active head__space head__font" [routerLink]="['/']" routerLinkActive="router-link-active" aria-current="page">TRANG CHỦ</a>
                            <a class="nav-link head__space head__font " [routerLink]="['/list-film']" routerLinkActive="router-link-active">SUẤT CHIẾU</a>
                            <a class="btn nav-link head__font" data-mdb-toggle="modal" data-mdb-target="#orderModal">ĐẶT VÉ</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-md-2 head__display head__margin">
            <a class="btn nav-link head__font" [routerLink]="['/login']" routerLinkActive="router-link-active">ĐĂNG NHẬP</a>
        </div>
    </div>
</div>
<!-- Header Navbar End -->

<!-- List Film Content Start -->
<header class="text-center">
    <h2 class="tittle__font">DANH SÁCH PHIM</h2>
</header>

<!-- List Film Content End -->

<!-- Article Details Start -->
<div class="article container article__height article__padding" *ngFor="let film of films">
    <div class="row article__full article__margin">
        <div class="col-md-3 article__col-height article__padding ">
            <img class="article__full article__filter" src="{{film.poster}}" alt="">
        </div>
        <div class="col-md-9 article__col-height article__padding position-relative article__display">
            <img class="article__full article__filter-content" src="{{film.banner}}" alt="">
            <div class="content article__center article__content-size article__index position-absolute article__auto">
                <h2 class="article__font">{{film.global_name}}</h2>
                <h4 class="article__font-category article__space">{{film.categories}}</h4>
                <p class="article__font-content article__space">{{film.description}}</p>
                <button type="button" class="btn btn-outline-warning btn-rounded article__space" [routerLink]="['/details-film', film.id]" routerLinkActive="router-link-active" data-mdb-ripple-color="dark">
                        CHI TIẾT PHIM
                    </button>
            </div>
        </div>
    </div>
</div>

<!-- Article Details End -->
<!-- Footer Start -->