<!-- Header Navbar Start -->
<div class="header container-fluid text-center head__border head__bottom">
    <div class="row">
        <div class="col-md-2 head__display">
            <img class="head__logo head__margin" src="../../../../assets/frontend/logo/Logo-light.png" alt="logo">
        </div>
        <div class="col-md-8 head__display">
            <nav class="navbar navbar-expand-lg head__margin">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link active head__space head__font" [routerLink]="['/']" routerLinkActive="router-link-active" aria-current="page">TRANG CHỦ</a>
                            <a class="nav-link head__space head__font " [routerLink]="['/list-film']" routerLinkActive="router-link-active">SUẤT CHIẾU</a>
                            <a class="btn nav-link head__font" data-mdb-toggle="modal" data-mdb-target="#orderModal">ĐẶT VÉ</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-md-2 head__display head__margin">
            <a class="btn nav-link head__font" [routerLink]="['/login']" routerLinkActive="router-link-active">ĐĂNG NHẬP</a>
        </div>
    </div>
</div>
<!-- Header Navbar End -->

<!-- Login Form Start -->
<div class="login container login__bottom">
    <div class="col-4 offset-4">
        <h3 class="login__font-tittle text-center login__form-bottom animate__animated animate__backInRight">Đăng nhập</h3>
        <form>
            <!-- Phone input -->
            <div class="form-outline login__form-bottom">
                <input type="email" id="form2Example1" class="form-control login__border" />
                <label class="form-label login__font" for="form2Example1">Email</label>
            </div>

            <!-- Password input -->
            <div class="form-outline login__form-bottom">
                <input type="password" id="form2Example2" class="form-control login__border" />
                <label class="form-label login__font" for="form2Example2">Password</label>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light btn-block login__form-bottom">Xác nhận</button>

            <!-- Register buttons -->
            <div class="text-center login__color">
                <p>Nếu bạn chưa là thành viên? <a [routerLink]="['/register']" routerLinkActive="router-link-active" class="login__font">Đăng kí</a></p>
                <p>hoặc đăng nhập với:</p>
                <button type="button" class="btn btn-outline-light btn-floating mx-1">
        <i class="fab fa-facebook-f"></i>
      </button>

                <button type="button" class="btn btn-outline-light btn-floating mx-1">
        <i class="fab fa-google"></i>
      </button>

                <button type="button" class="btn btn-outline-light btn-floating mx-1">
        <i class="fab fa-twitter"></i>
      </button>

                <button type="button" class="btn btn-outline-light btn-floating mx-1">
        <i class="fab fa-github"></i>
      </button>
            </div>
        </form>
    </div>
</div>
<!-- Login Form End -->