 // Login form Start
 .login {
     &__bottom {
         margin-bottom: 100px;
     }
     &__font {
         font-size: 17px;
         font-weight: 400;
         color: #fff !important;
     }
     &__border {
         border-top: none;
         border-left: none;
         border-right: none;
         border-bottom: 1px solid #fff;
     }
     &__form-bottom {
         margin-bottom: 50px;
     }
     &__color {
         color: #fff;
     }
     &__font-tittle {
         font-family: 'Josefin Sans', sans-serif;
         color: #fff;
         font-size: 30px;
         font-weight: 700;
     }
     &__padding {
         padding-top: 100px;
     }
 }
 
 // Login form End