<div class="card-header">
    <h6 class="text-uppercase mb-0">Quản Lý Quảng cáo</h6>
    <a routerLink="./add" title="Thêm mới" style="position: absolute;right: 35px;top: 22px;"><i class="fas fa-plus-square text-success" style="font-size: 24px"></i></a>
</div>
<div class="card-body">                           
    <table class="table table-hover card-text">
        <thead>
            <tr>
                <th>No.</th>
                <th>Tên Đối tác</th>
                <th>Nội dung</th>
                <th>Ngày bắt đầu</th>
                <th>Ngày hết hạn</th>
                <th>Chức năng</th>
            </tr>
        </thead>
        <tbody>                     		
            <tr *ngFor="let ad of ads;index as key">
                <td>{{key+1}}</td>
                <td>{{ad.company_name}}</td>
                <td>{{ad.content}}</td>
                <td>{{ad.start_time}}</td>
                <td>{{ad.date_count}}</td>
                <td><a [routerLink]="['edit',ad.id]"><button style="background-color: #ffffff00;border: none" title="Sửa"><i class="fas fa-edit text-success"></i></button></a><br>
                        <button type="submit" style="background-color: #ffffff00;border: none" title="Xóa"><i class="fas fa-trash-alt text-danger"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>