<div class="body__bg">
    <!-- Login Form Start -->
    <div class="login container login__bottom">
        <div class="col-4 offset-4">
            <h3 class="login__font-tittle text-center login__form-bottom animate__animated animate__backInRight">ĐĂNG KÍ</h3>
        </div>
        <form class="row">
            <div class="col-6">
                <!-- Phone input -->
                <div class="form-outline login__form-bottom">
                    <input type="email" id="form2Example1" class="form-control login__border" />
                    <label class="form-label login__font" for="form2Example1">Email</label>
                </div>

                <!-- Password input -->
                <div class="form-outline login__form-bottom">
                    <input type="password" id="form2Example2" class="form-control login__border" />
                    <label class="form-label login__font" for="form2Example2">Mật khẩu</label>
                </div>

                <!-- Name input -->
                <div class="form-outline login__form-bottom">
                    <input type="text" id="form2Example2" class="form-control login__border" />
                    <label class="form-label login__font" for="form2Example2">Họ và tên</label>
                </div>
            </div>
            <div class="col-6 login__form-bottom ">
                <!-- Phone input -->
                <div class="form-outline login__form-bottom">
                    <input type="text" id="form2Example2" class="form-control login__border" />
                    <label class="form-label login__font" for="form2Example2">Số điện thoại</label>
                </div>

                <!-- Address input -->
                <div class="form-outline login__form-bottom">
                    <input type="text" id="form2Example2" class="form-control login__border" />
                    <label class="form-label login__font" for="form2Example2">Địa chỉ</label>
                </div>

                <!-- City input -->
                <div class="form-outline login__form-bottom">
                    <input type="text" id="form2Example2" class="form-control login__border" />
                    <label class="form-label login__font" for="form2Example2">Thành phố</label>
                </div>
            </div>
            <!-- Submit button -->
            <div class="col-4 offset-4">
                <button type="submit" class="btn btn-outline-light btn-block login__form-bottom">Xác nhận</button>
            </div>

            <!-- Register buttons -->
            <div class="text-center login__color">
                <p>hoặc đăng nhập với:</p>
                <button type="button" class="btn btn-outline-light btn-floating mx-1">
        <i class="fab fa-facebook-f"></i>
      </button>

                <button type="button" class="btn btn-outline-light btn-floating mx-1">
        <i class="fab fa-google"></i>
      </button>

                <button type="button" class="btn btn-outline-light btn-floating mx-1">
        <i class="fab fa-twitter"></i>
      </button>

                <button type="button" class="btn btn-outline-light btn-floating mx-1">
        <i class="fab fa-github"></i>
      </button>
            </div>
        </form>

    </div>
    <!-- Login Form End -->
</div>