<div class="card-header">
    <h6 class="text-uppercase mb-0">Quản Lý Giá vé</h6>
    <a routerLink="../" style="position: absolute;right: 35px;top: 22px;" title="Danh sách vé"><i
            class="fad fa-chevron-left text-success" style="font-size: 24px"></i></a>
</div>
<div class="card-body">
    <table class="table table-hover card-text">
        <thead>
            <tr>
                <th>No.</th>
                <th>Định dạng</th>
                <th>Giá ngày thường</th>
                <th>Membership</th>
                <th>Cuối tuần</th>
                <th>Ngày lễ</th>
                <th>Chức năng</th>
            </tr>
        </thead>
        <tbody id="lichchieu">
           
            <tr *ngFor="let price of prices; index as key">
                <td>{{key+1}}</td>
                <td>{{price.format_id}}</td>
                <td>{{price.normal_price}}</td>
                <td>{{price.membership}}</td>
                <td>{{price.weekend_price}}</td>
                <td>{{price.holiday_price}}</td>
                <td><a [routerLink]="['edit',price.id]"><button style="background-color: #ffffff00;border: none"
                            title="Sửa"><i class="fas fa-edit text-success"></i></button></a><br>
                </td>
            </tr>
        </tbody>
    </table>
</div>