    //================ Header Navbar Start===========
    .head {
        &__auto {
            height: auto;
            width: 100%;
        }
        &__full {
            height: 100%;
            width: 100%;
        }
        &__height-menu {
            height: 70px;
            width: 100%;
        }
        &__space {
            margin-right: 60px;
        }
        &__font {
            color: #fff;
            font-family: 'Josefin Sans', sans-serif;
            line-height: 28px;
            font-size: 14px;
            letter-spacing: 2px;
            font-weight: 600;
        }
        &__display {
            display: flex;
        }
        &__margin {
            margin: auto;
        }
        &__logo {
            width: 60%;
        }
        &__icon {
            color: white;
            margin-right: 30px;
        }
        &__border {
            border-bottom: 1px solid rgb(66, 66, 66);
        }
        &__margin-left {
            margin: auto 0 auto 10px;
        }
        &__bottom {
            margin-bottom: 100px;
        }
    }
    
    .straight::after {
        content: '|';
        color: #fb802d;
        margin-left: 15px;
        margin-right: 10px;
        font-size: 20px;
        font-weight: 300;
    }
    
    //================= Header Navbar End
    // Login form Start
    .login {
        &__bottom {
            margin-bottom: 100px;
        }
        &__font {
            font-size: 17px;
            font-weight: 400;
            color: #fff !important;
        }
        &__border {
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid #fff;
        }
        &__form-bottom {
            margin-bottom: 50px;
        }
        &__color {
            color: #fff;
        }
        &__font-tittle {
            font-family: 'Josefin Sans', sans-serif;
            color: #fff;
            font-size: 30px;
            font-weight: 700;
        }
    }
    
    // Login form End