<!-- Header Navbar Start -->
<div class="header container-fluid text-center position-absolute slide__index head__border">
    <div class="row">
        <div class="col-md-2 head__display">
            <img class="head__logo head__margin" src="../../../../assets/frontend/logo/Logo-light.png" alt="logo">
        </div>
        <div class="col-md-8 head__display">
            <nav class="navbar navbar-expand-lg head__margin">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link active head__space head__font" [routerLink]="['/']" routerLinkActive="router-link-active" aria-current="page">TRANG CHỦ</a>
                            <a class="nav-link head__space head__font " [routerLink]="['/list-film']" routerLinkActive="router-link-active">SUẤT CHIẾU</a>
                            <a class="btn nav-link head__font" data-mdb-toggle="modal" data-mdb-target="#orderModal">ĐẶT VÉ</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-md-2 head__display head__margin">
            <a class="nav-link head__font" [routerLink]="['/login']" routerLinkActive="router-link-active">ĐĂNG NHẬP</a>
        </div>
    </div>
</div>
<!-- Header Navbar End -->

<!-- Slides Start -->
<ng-container *ngFor="let remarkable of remarkables">
    <div class="slides-container-fluid slide__height text-center position-relative">
        <img class="slide__img head__full" src="../../../assets/frontend/img/vKnNpHL.jpeg" alt="background">
    </div>
    <!-- Slides End -->

    <!-- Animation Start -->
    <div class="animate-container position-absolute animation__center text-center ">
        <h4 class="animation__font-tittle animate__animated animate__zoomIn animate__slower	3s animate__infinite ">{{remarkable.film_name}}</h4>
        <h6 class="animation__font-under animate__animated animate__zoomIn animate__slower	3s animate__infinite "></h6>
        <button [routerLink]="['/details-film', remarkable.film_id]" class="button animation__height animate__animated animate__zoomIn animate__slower3s">
            Chi tiết Phim
            <div class="button__horizontal"></div>
            <div class="button__vertical"></div>
        </button>
        <!-- Animation End -->
    </div>
</ng-container>

<!-- Tittle Now Playing Start-->
<div class="content-now-playing container text-center content-play__bottom">
    <h2 class="content-play__font content-play" :after>PHIM ĐANG CHIẾU</h2>
</div>
<!-- Tittle Now Playing End-->

<!-- Image Now Playing Start -->

<div class="container content-play__bottom text-center img__height head__border text-center">
    <section id="timeline" class="head_full">
        <div class="tl-item" *ngFor="let public_film of public_films">
            <div class="tl-bg carousel-item active" style="background-image: url({{public_film.poster}})"></div>
            <!-- <div class="tl-year">
                <p class="f2 heading--sanSerif">{{film.release_date}}</p>
            </div> -->
            <div class="tl-content">
                <h1>{{public_film.film_name}}</h1>
                <div class="col-8 offset-2"> <a [routerLink]="['/details-film', public_film.id]" routerLinkActive="router-link-active" class="btn btn-sm animated-button sandy-three">Chi tiết</a></div>
            </div>
        </div>
    </section>
</div>
<!-- Image Now Playing End -->

<!-- Tittle Coming Soon Start -->
<div class="content-now-playing container text-center content-play__bottom">
    <h2 class="content-play__font content-play" :after>PHIM SẮP CHIẾU</h2>
</div>
<!-- Tittle Coming Soon End -->

<!-- Image Coming Soon Start -->

<div class="content-play__bottom text-center img__height head__border text-center">
    <section id="timeline" class="head_full">
        <div class="tl-item" *ngFor="let unpublic_film of unpublic_films">
            <div class="tl-bg carousel-item active" style="background-image: url({{unpublic_film.poster}})"></div>
            <div class="tl-year">
                <p class="f2 heading--sanSerif"></p>
            </div>
            <div class="tl-content">
                <h1>{{unpublic_film.global_name}}</h1>
                <p></p>
            </div>
        </div>
    </section>
</div>
<!-- Image Coming Soon End -->