<body>
    <!-- Header Navbar Start -->
    <div class="header container-fluid text-center position-absolute slide__index head__border">
        <div class="row">
            <div class="col-md-2 head__display">
                <img class="head__logo head__margin" src="assets\frontend\logo\Logo-light.png" alt="logo">
            </div>
            <div class="col-md-8 head__display">
                <nav class="navbar navbar-expand-lg head__margin">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                                <a class="nav-link active head__space head__font" [routerLink]="['/']" routerLinkActive="router-link-active" aria-current="page">HOME</a>
                                <a class="nav-link head__space head__font " [routerLink]="['/list-film']" routerLinkActive="router-link-active">SHOWTIMES</a>
                                <button type="button" class="btn nav-link head__font" data-mdb-toggle="modal" data-mdb-target="#exampleModal">ORDER TICKET</button>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-md-2 head__display">
                <a class="straight head__font head__margin-left">LOGIN</a>
                <i class="fab fa-youtube head__margin-left head__icon"></i>
            </div>
        </div>
    </div>
    <!-- Header Navbar End -->

    <!-- Slides Start -->
    <div class="slides-container-fluid slide__height text-center position-relative" *ngFor="let slide of slides">
        <img class="slide__img head__full" src="{{slide.background_slide}}" alt="background">
    </div>
    <!-- Slides End -->

    <!-- Animation Start -->
    <div class="animate-container position-absolute animation__center text-center ">
        <h4 class="animation__font-tittle animate__animated animate__zoomIn animate__slower	3s animate__infinite ">SPIDER MAN</h4>
        <h6 class="animation__font-under animate__animated animate__zoomIn animate__slower	3s animate__infinite ">NO WAY HOME</h6>
        <button class="button animation__height animate__animated animate__zoomIn animate__slower	3s">
        Order Ticket
        <div class="button__horizontal"></div>
        <div class="button__vertical"></div>
    </button>
        <!-- Animation End -->
    </div>

    <!-- Tittle Now Playing Start-->
    <div class="content-now-playing container text-center content-play__bottom">
        <h2 class="content-play__font content-play" :after>NOW PLAYING</h2>
    </div>
    <!-- Tittle Now Playing End-->

    <!-- Image Now Playing Start -->

    <div id="carouselExampleControls" class="carousel slide container content-play__bottom text-center img__height head__border text-center " data-mdb-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card-group">
                    <div class="card head__full">
                        <img src="assets\frontend\img\new_movie\blackwidow-updatedreleasedate_byeb.png" class="card-img-top img__height-picture img" />
                    </div>
                    <div class="card head__full">
                        <img src="assets\frontend\img\new_movie\spider-far-poster-3.jpg" class="card-img-top img__height-picture img" :hover />
                    </div>
                    <div class="card head__full">
                        <img src="assets\frontend\img\new_movie\deew942-aeaad734-4fbb-4eff-9fa4-5abf42615fc1.jpg" class="card-img-top img__height-picture img" :hover />
                    </div>
                    <div class="card head__full">
                        <img src="assets\frontend\img\new_movie\81ai6zx6eXL._AC_SY879_.jpg" class="card-img-top img__height-picture img" :hover />
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card-group">
                    <div class="card head__full">
                        <img src="assets\frontend\img\new_movie\blackwidow-updatedreleasedate_byeb.png" class="card-img-top img__height-picture img" :hover />
                    </div>
                    <div class="card head__full">
                        <img src="assets\frontend\img\new_movie\spider-far-poster-3.jpg" class="card-img-top img__height-picture img" :hover />
                    </div>
                    <div class="card head__full">
                        <img src="assets\frontend\img\new_movie\deew942-aeaad734-4fbb-4eff-9fa4-5abf42615fc1.jpg" class="card-img-top img__height-picture img" :hover />
                    </div>
                    <div class="card head__full">
                        <img src="assets\frontend\img\new_movie\81ai6zx6eXL._AC_SY879_.jpg" class="card-img-top img__height-picture img" :hover />
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev " type="button" data-mdb-target="#carouselExampleControls" data-mdb-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
            <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleControls" data-mdb-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

    </div>
    <!-- Image Now Playing End -->

    <!-- Tittle Coming Soon Start -->
    <div class="content-now-playing container text-center content-play__bottom">
        <h2 class="content-play__font content-play" :after>COMING SOON</h2>
    </div>
    <!-- Tittle Coming Soon End -->

    <!-- Image Coming Soon Start -->
    <div id="carouselExampleControls2" class="carousel slide content-play__bottom text-center img__height-coming head__border text-center " data-mdb-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card-group">
                    <div class="card head__full">
                        <img src="assets\frontend\img\new_movie\blackwidow-updatedreleasedate_byeb.png" class="card-img-top img__picture-coming img" />
                    </div>
                    <div class="card head__full">
                        <img src="assets\frontend\img\new_movie\spider-far-poster-3.jpg" class="card-img-top img__picture-coming img" :hover />
                    </div>
                    <div class="card head__full">
                        <img src="assets\frontend\img\new_movie\deew942-aeaad734-4fbb-4eff-9fa4-5abf42615fc1.jpg" class="card-img-top img__picture-coming img" :hover />
                    </div>
                    <div class="card head__full">
                        <img src="assets\frontend\img\new_movie\81ai6zx6eXL._AC_SY879_.jpg" class="card-img-top img__picture-coming img" :hover />
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card-group">
                    <div class="card head__full">
                        <img src="assets\frontend\img\new_movie\blackwidow-updatedreleasedate_byeb.png" class="card-img-top img__picture-coming img" :hover />
                    </div>
                    <div class="card head__full">
                        <img src="assets\frontend\img\new_movie\spider-far-poster-3.jpg" class="card-img-top img__picture-coming img" :hover />
                    </div>
                    <div class="card head__full">
                        <img src="assets\frontend\img\new_movie\deew942-aeaad734-4fbb-4eff-9fa4-5abf42615fc1.jpg" class="card-img-top img__picture-coming img" :hover />
                    </div>
                    <div class="card head__full">
                        <img src="assets\frontend\img\new_movie\81ai6zx6eXL._AC_SY879_.jpg" class="card-img-top img__picture-coming img" :hover />
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev " type="button" data-mdb-target="#carouselExampleControls2" data-mdb-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
            <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleControls2" data-mdb-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </div>
    <!-- Image Coming Soon End -->

    <!-- Footer Start -->
    <div class="footer container footer__height head__border footer__bottom">
        <div class="row">
            <div class="col-3">
                <h2 class="footer__tittle">MENU</h2>
                <p class="footer__font">Home</p>
                <p class="footer__font">Showtimes</p>
                <p class="footer__font">Order Ticket</p>
                <i class="fab fa-youtube footer__social footer__space"></i>
                <i class="fab fa-facebook footer__social footer__space"></i>
                <i class="fab fa-twitter footer__social"></i>
            </div>
            <div class="col-3">
                <h2 class="footer__tittle">ADDRESS</h2>
                <p class="footer__font">28 Nguyen Tri Phuong Street,</p>
                <p class="footer__font">Phu Nhuan, Hue City</p>
                <p class="footer__font">Email: cinerama@gmail.com</p>
                <p class="footer__font"><i class="fas fa-phone-alt footer__social footer__space"></i>+0125.124789</p>
            </div>
            <div class="col-6">
                <h2 class="footer__tittle">CONTACT</h2>
                <div class="form-outline mb-4 footer__border">
                    <input type="text" id="form4Example1" class="form-control" />
                    <label class="form-label text-white-50" for="form4Example1">Name *</label>
                </div>
                <div class="form-outline mb-4 footer__border">
                    <input type="text" id="form4Example1" class="form-control" />
                    <label class="form-label text-white-50" for="form4Example1">Email *</label>
                </div>
                <div class="form-outline mb-4 footer__border">
                    <textarea class="form-control"></textarea>
                    <label class="form-label text-white-50" for="form6Example7">Message * </label>
                </div>
                <button type="button" class="btn btn-outline-warning btn-rounded">SEND TO US</button>
            </div>
        </div>
    </div>
    <div class="logo container head__height-menu text-center">
        <div class="row">
            <div class="col-md-4">
                <div class="col-md-4">
                    <p class="footer__font">
                        @ Do Not Copyright</p>
                </div>
            </div>
            <div class="col-md-4">
                <img class="footer__logo head__margin" src="assets\frontend\logo\Logo-light.png" alt="logo">
            </div>
            <div class="col-md-4">
                <p class="footer__font">
                    @License by: 'Nhac cong di xem phim'</p>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <!--===================== Modal Order Ticket Start================================= -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl ">
            <div class="modal-content">
                <div class="container ticket-order__width">
                    <div class="row">
                        <div class="col-md-8">
                            <div id="carouselExampleControlsOrder" class="carousel slide" data-bs-interval="false" data-wrap="false">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <h5 class="modal-title ticket-order__font">ORDER A TICKET</h5>
                                        <h3 class="ticket-order__font-nav">MOVIE</h3>
                                        <select name="movie" class="ticket-order__border">
                                        <option value="#">Black Widow - Goá phụ đen</option>
                                        <option value="#">Spider Man - Far From Home</option>
                                        <option value="#">Spider Man - No Way Home</option>
                                        <option value="#">Avenger - Endgame</option>
                                    </select>
                                        <h3 class="ticket-order__font-nav">DATE</h3>
                                        <input type="date" class="ticket-order__border">
                                        <h3 class="ticket-order__font-nav">TIME</h3>
                                        <div class="time">
                                            <button type="button" class="btn btn-outline btn-rounded btn-sm ticket-order__space" data-mdb-ripple-color="dark">11:00</button>
                                            <button type="button" class="btn btn-outline btn-rounded btn-sm ticket-order__space" data-mdb-ripple-color="dark">11:30</button>
                                            <button type="button" class="btn btn-outline btn-rounded btn-sm ticket-order__space" data-mdb-ripple-color="dark">12:00</button>
                                        </div>
                                        <button type="button" class="btn btn-outline-warning btn-rounded btn-sm ticket-order__space-top" data-mdb-slide="next" data-mdb-target="#carouselExampleControlsOrder" data-mdb-ripple-color="dark">NEXT</button>
                                    </div>
                                    <!-- Modal Seat Start -->
                                    <div class="carousel-item text-center container">
                                        <div class="row">
                                            <h5 class="modal-title ticket-order__font">SEAT</h5>
                                            <img src="assets/frontend/img/ScreenForSeating_450.png " alt="">
                                            <div class="col-md-1 ticket-order__seat-top ticket-order__font-row">A</div>
                                            <div class="col-md-3">
                                                <div class="seat-chart ticket-order__seat-top">
                                                    <div id="1" role="checkbox" class="ticket-order__border-seat">1</div>
                                                    <div id="2" role="checkbox" class="ticket-order__border-seat">2</div>
                                                    <div id="1" role="checkbox" class="ticket-order__border-seat">3</div>
                                                    <div id="2" role="checkbox" class="ticket-order__border-seat">4</div>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="seat-chart ticket-order__seat-top ">
                                                    <div id="3" role="checkbox" class="ticket-order__border-seat">3</div>
                                                    <div id="4" role="checkbox" class="ticket-order__border-seat">4</div>
                                                    <div id="1" role="checkbox" class="ticket-order__border-seat">5</div>
                                                    <div id="2" role="checkbox" class="ticket-order__border-seat">6</div>
                                                    <div id="3" role="checkbox" class="ticket-order__border-seat">7</div>
                                                    <div id="4" role="checkbox" class="ticket-order__border-seat">8</div>
                                                    <div id="5" role="checkbox" class="ticket-order__border-seat">9</div>
                                                    <div id="6" role="checkbox" class="ticket-order__border-seat">10</div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="seat-chart ticket-order__seat-top ">
                                                    <div id="1" role="checkbox" class="ticket-order__border-seat">11</div>
                                                    <div id="2" role="checkbox" class="ticket-order__border-seat">12</div>
                                                </div>
                                            </div>
                                            <div class="col-md-1 ticket-order__font-row">B</div>
                                            <div class="col-md-3">
                                                <div class="seat-chart">
                                                    <div id="1" role="checkbox" class="ticket-order__border-seat">1</div>
                                                    <div id="2" role="checkbox" class="ticket-order__border-seat">2</div>
                                                    <div id="1" role="checkbox" class="ticket-order__border-seat">3</div>
                                                    <div id="2" role="checkbox" class="ticket-order__border-seat">4</div>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="seat-chart ">
                                                    <div id="3" role="checkbox" class="ticket-order__border-seat">3</div>
                                                    <div id="4" role="checkbox" class="ticket-order__border-seat">4</div>
                                                    <div id="1" role="checkbox" class="ticket-order__border-seat">5</div>
                                                    <div id="2" role="checkbox" class="ticket-order__border-seat">6</div>
                                                    <div id="3" role="checkbox" class="ticket-order__border-seat">7</div>
                                                    <div id="4" role="checkbox" class="ticket-order__border-seat">8</div>
                                                    <div id="5" role="checkbox" class="ticket-order__border-seat">9</div>
                                                    <div id="6" role="checkbox" class="ticket-order__border-seat">10</div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="seat-chart">
                                                    <div id="1" role="checkbox" class="ticket-order__border-seat">11</div>
                                                    <div id="2" role="checkbox" class="ticket-order__border-seat">12</div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- Modal Seat End -->
                                </div>
                            </div>
                        </div>
                        <!-- Your Information Start -->
                        <div class="col-md-4 ">
                            <h5 class="modal-title ticket-order__font ">YOUR INFORMATION</h5>
                            <h3 class="ticket-order__font-nav ">MOVIE</h3>
                            <h5 class="ticket-order__inf ">Avenger: Endgame</h5>
                            <h3 class="ticket-order__font-nav ">DATE</h3>
                            <h5 class="ticket-order__inf ">5/6/2021</h5>
                            <h3 class="ticket-order__font-nav ">SEAT</h3>
                            <h5 class="ticket-order__inf ">R4 S13</h5>
                            <h3 class="ticket-order__font-nav ">TICKET: 2</h3>
                            <h3 class="ticket-order__font-nav ">TOTAL: $30</h3>
                        </div>
                        <!-- Your Information End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================Modal Order Ticket End============================== -->
</body>