<div class="card-header">
    <h6 class="text-uppercase mb-0">Quản Lý Doanh thu</h6>
    <a routerLink="./add" title="Thêm mới" style="position: absolute;right: 35px;top: 22px;"></a>
</div>
<div class="card-body">
    <table class="table table-hover card-text">
        <thead>
            <tr>
                <th>No.</th>
                <th>Tên rạp</th>
                <th>Tháng</th>
                <th>Doanh thu</th>
                <th>Chi tiết</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let revenue of revenues; index as i">
                <th>{{i+1}}</th>
                <td>{{revenue.cinema_id}}</td>
                <td>{{revenue.month}}</td>
                <td>{{revenue.total_revenue}}</td>
                <td>
                    <a style="padding: 0 15px;" [routerLink]="['film',revenue.id]">
                        <i class="fas fa-edit text-success"></i>
                    </a>
                    <a [routerLink]="['combo',revenue.id]"><i class="fas fa-trash-alt text-danger"></i></a>
                    <a [routerLink]="['advertisement',revenue.id]"><i class="fas fa-trash-alt text-danger"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>