	<div class="card-header">
		<h3 class="h6 text-uppercase mb-0">Chỉnh Sửa Phim</h3>
	</div>
	<div class="card-body">
		<form [formGroup]="editFilmForm" (ngSubmit)="update()">
			<div class="alert alert-danger" *ngIf="editFilmForm.invalid">
				Vui lòng điền đầy đủ thông tin
			</div>
			<div class="form-group row">
				<label class="col-md-3 form-control-label">Tên Phim</label>
				<div class="col-md-9">
					<input id="inputHorizontalSuccess" formControlName="film_name" type="text" placeholder="Tên phim"
						class="form-control form-control-success" required>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-3 form-control-label">Tên Quốc Tế</label>
				<div class="col-md-9">
					<input id="inputHorizontalWarning" formControlName="global_name" type="text"
						placeholder="Tên Quốc Tế" class="form-control form-control-warning" required>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-3 form-control-label">Ảnh Phim</label>
				<div class="col-md-9">
					<input placeholder="Url ảnh" id="inputHorizontalWarning" formControlName=poster type="text"
						class="form-control form-control-warning" required>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-3 form-control-label">Ảnh bìa Phim</label>
				<div class="col-md-9">
					<input placeholder="Url ảnh" id="inputHorizontalWarning" formControlName=banner type="text"
						class="form-control form-control-warning" required>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-3 form-control-label">Nhà Sản Xuất</label>
				<div class="col-md-9">
					<input id="inputHorizontalWarning" formControlName="producer" type="text" placeholder="Nhà sản xuất"
						class="form-control form-control-warning " required>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-3 form-control-label">Thể loại</label>
				<div class="col-md-9">
					<input id="inputHorizontalWarning" formControlName="categories" type="text" placeholder="Thể loại"
						class="form-control form-control-warning " required>
				</div>
			</div>

			
			<div class="form-group row">
				<label class="col-sm-3 form-control-label">Đạo Diễn</label>
				<div class="col-md-9">
					<input id="inputHorizontalWarning" formControlName="director" type="text" placeholder="Đại diễn"
						class="form-control form-control-warning " required>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-3 form-control-label">Diễn Viên</label>
				<div class="col-md-9">
					<input id="inputHorizontalWarning" formControlName="caster" type="text" placeholder="Diễn viên"
						class="form-control form-control-warning " required>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-3 form-control-label">Thời lượng</label>
				<div class="col-md-9">
					<input id="inputHorizontalWarning" formControlName="duration" type="number" placeholder="Thời lượng"
						class="form-control form-control-warning " required>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-3 form-control-label">Ngày Khởi Chiếu</label>
				<div class="col-md-9">
					<input id="inputHorizontalWarning" formControlName="release_date" type="date"
						class="form-control form-control-warning " required>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-3 form-control-label">Trạng Thái</label>
				<div class="col-md-9">
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="radio1" formControlName="status" name="status" value="1"
							class="custom-control-input" checked>
						<label for="radio1" class="custom-control-label">Phim Đang Chiếu</label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="radio2" formControlName="status" name="status" value="0"
							class="custom-control-input">
						<label for="radio2" class="custom-control-label">Phim Sắp Chiếu</label>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-3 form-control-label">Định dạng</label>
				<div class="col-md-9">
					<div  class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="2d" formControlName="format_id" name="format_id"
							class="custom-control-input" checked>
						<label for="2d" class="custom-control-label">2D</label>
					</div>
					<div  class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="3d" formControlName="format_id" name="format_id"
							class="custom-control-input" checked>
						<label for="3d" class="custom-control-label">3D</label>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-3 form-control-label">Trailer</label>
				<div class="col-md-9">
					<textarea class="form-control " formControlName="trailer" rows="5" id="trailerYT"></textarea><small
						class="form-text text-muted ml-3">Chú ý : Lấy mã nhúng video của YouTube</small>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-3 form-control-label">Nội Dung</label>
				<div class="col-md-9">
					<textarea class="form-control " formControlName="description" rows="5" id="noidung"></textarea>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-md-9 m-auto">
					<input type="submit" value="CHỈNH SỬA" class="btn btn-primary">
				</div>
			</div>
		</form>
	</div>