// @import '../../../../assets/admin/admin_assets/vendor/bootstrap/css/bootstrap.min.css';
@import '../../../../assets/admin/admin_assets/css/orionicons.css';
@import '../../../../assets/admin/admin_assets/css/style.default.css';
@import '../../../../assets/admin/admin_assets/css/style.default.css';
@import '../../../../assets/admin/admin_assets/css/custom.css';
@import '../../../../assets/admin/admin_assets/css/style.css';
@import '../../../../assets/admin/fontawesome/css/all.css';


.ticket-order {
    &__font {
        font-family: 'Montserrat', sans-serif;
        color: #000;
        font-size: 16px;
        font-weight: 600;
        padding-bottom: 50px;
    }
    &__width {
        padding: 80px 90px;
    }
    &__font-nav {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        padding-bottom: 10px;
    }
    &__border {
        width: 265px;
        padding: 5px 15px;
        border: 1px solid #999;
        height: 40px;
        border-radius: 0;
        font-style: italic;
        margin-bottom: 40px;
    }
    &__space {
        margin-right: 10px;
    }
    &__inf {
        font-family: 'Montserrat', sans-serif;
        color: #000;
        font-size: 16px;
        font-weight: 600;
        padding-bottom: 20px;
    }
    &__space-top {
        margin-top: 50px;
    }
    &__border-seat {
        border: 1px solid #000;
        color: #000;
        border-radius: 5px;
        width: 20px;
        height: 20px;
        font-size: 12px;
        float: left;
        margin-right: 5px;
    }
    &__seat-top {
        margin-top: 80px;
    }
    &__seat-space {
        margin-right: 20px;
    }
    &__font-row {
        font-family: 'Montserrat', sans-serif;
        color: #000;
        font-size: 12px;
        font-weight: 600;
        padding-bottom: 15px;
    }

}

.seat-select {
    background-color: yellow ;
}

.seat-disable {
    background-color: rgb(94, 86, 86);
}