.body {
    &__bg {
        background-image: url(../../../assets/frontend/img/bg-single.jpg);
    }
}

//================ Header Navbar Start===========
.head {
    &__auto {
        height: auto;
        width: 100%;
    }
    &__full {
        height: 100%;
        width: 100%;
    }
    &__height-menu {
        height: 70px;
        width: 100%;
    }
    &__space {
        margin-right: 60px;
    }
    &__font {
        color: #fff;
        font-family: 'Josefin Sans', sans-serif;
        line-height: 28px;
        font-size: 14px;
        letter-spacing: 2px;
        font-weight: 600;
    }
    &__display {
        display: flex;
    }
    &__margin {
        margin: auto;
    }
    &__logo {
        width: 60%;
    }
    &__icon {
        color: white;
        margin-right: 30px;
    }
    &__border {
        border-bottom: 1px solid rgb(66, 66, 66);
    }
    &__margin-left {
        margin: auto 0 auto 10px;
    }
    &__bottom {
        margin-bottom: 150px;
    }
}

.straight::after {
    content: '|';
    color: #fb802d;
    margin-left: 15px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 300;
}

//================= Header Navbar End
// Profile Start
.profile {
    &__height {
        height: 700px;
        border: 1px solid rgb(66, 66, 66);
        margin-bottom: 80px;
    }
    &__head {
        height: 100px;
    }
    &__avatar {
        width: 168px;
        height: 168px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -260%);
    }
    &__info {
        height: 500px;
    }
    &__bottom {
        margin-bottom: 80px;
    }
    &__font-tittle {
        font-size: 30px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: #fff;
    }
    &__font {
        font-size: 17px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: #fff;
    }
    &__input-bg {
        background-color: transparent;
        width: 90%;
        border-top: none;
        border-right: none;
        border-left: none;
    }
}

// Modal History Start
.history {
    &__font {
        font-size: 17px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: black;
    }
}

// Modal History End
// Profile End
// Footer Start
.footer {
    &__height {
        height: 400px;
    }
    &__tittle {
        font-family: 'Montserrat', sans-serif;
        color: #fff;
        font-size: 16px;
        letter-spacing: 2px;
        font-weight: 500;
        margin-bottom: 40px;
    }
    &__font {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.6);
    }
    &__social {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.6);
    }
    &__space {
        margin-right: 10px;
    }
    &__border {
        border: 1px solid rgba(255, 255, 255, 0.6);
    }
    &__logo {
        width: 40%;
    }
    &__height-logo {
        height: 20px;
    }
    &__bottom {
        margin-bottom: 50px
    }
}

// Footer End