<div class="profile__height container position-relative">
    <div class="profile__head">
        <img src="{{profile.avatar}}" class="img-fluid rounded-circle profile__avatar position-absolute" alt="" />
    </div>
    <div class="profile__info">
        <div class="tittle profile__bottom row text-center">
            <div class="col-4">
            </div>
            <div class="col-4 profile__font-tittle">{{profile.full_name}}</div>
            <div class="col-4"></div>
        </div>
        <div class="info ms-5">
            <form action="" class="row">
                <div class="col-6">
                    <div class="email mb-5">
                        <span class="profile__font">Email:</span>
                        <div class="form mt-3">
                            <input type="text" id="form5Example1" value="{{profile.email}}"
                                class="form-control profile__input-bg" />
                        </div>
                    </div>
                    <div class="password mb-5">
                        <span class="profile__font">Mật khẩu:</span>
                        <div class="form mt-3">
                            <input type="password" value="" id="form5Example1" class="form-control profile__input-bg" />
                        </div>
                    </div>
                    <div class="name mb-5">
                        <span class="profile__font">Điểm tích lũy</span>
                        <div class="form mt-3">
                            <input type="text" value="{{profile.cinema_point}}" id="form5Example1"
                                class="form-control profile__input-bg" />
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="phone mb-5">
                        <span class="profile__font">Số điện thoại:</span>
                        <div class="form mt-3">
                            <input type="text" id="form5Example1" value="{{profile.phone_number}}"
                                class="form-control profile__input-bg" />
                        </div>
                    </div>
                    <div class="address mb-5">
                        <span class="profile__font">Địa chỉ:</span>
                        <div class="form mt-3">
                            <input type="text" id="form5Example1" value="250 Hà Nội"
                                class="form-control profile__input-bg" />
                        </div>
                    </div>
                    <div class="city mb-5">
                        <span class="profile__font">Thành phố: </span>
                        <div class="form mt-3">
                            <input type="text" id="form5Example1" value="Hà Nội"
                                class="form-control profile__input-bg" />
                        </div>
                    </div>
                    <div class="history text-center">
                        <button (click)="loadOrderTicket(profile.id)" type="button" class="btn" data-mdb-toggle="modal"
                            data-mdb-target="#historyModal"> <span class="profile__font">Lịch sử giao dịch
                            </span></button>

                    </div>

                </div>
            </form>
        </div>

    </div>

</div>

<!-- Modal History Start -->
<div class="modal fade" id="historyModal" tabindex="-1" aria-labelledby="historyModal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="container">
                <h5 class="history__font mb-5 mt-3">LỊCH SỬ GIAO DỊCH</h5>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Tên phim</th>
                            <th scope="col">Ngày Chiếu</th>
                            <th scope="col">Giờ Chiếu</th>
                            <th>Trạng Thái</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ticket of tickets; index as i">
                            <th scope="row">{{i+1}}</th>
                            <td>{{ticket.global_name}}</td>
                            <td>{{ticket.date}}</td>
                            <td>{{ticket.start_time}}</td>
                            <ng-container *ngIf="ticket.status == 1; else unPublic">
                                <td>Chưa sử dụng</td>
                            </ng-container>

                            <ng-template #unPublic>
                                <td>Đã sử dụng</td>
                            </ng-template>
                            <td>
                                <button class="btn btn-outline-primary">Chi tiết</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Modal History End -->