.body {
    &__bg {
        background-image: url(../../../assets/frontend/img/bg-single.jpg);
    }
}

.head {
    &__height {
        height: 150px;
        width: 100%;
    }
}

// Profile Start
.profile {
    &__height {
        height: 700px;
        border: 1px solid rgb(95, 87, 87);
        margin-bottom: 80px;
        margin-top: 150px;
    }
    &__head {
        height: 100px;
    }
    &__avatar {
        width: 168px;
        height: 168px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -430px);
    }
    &__info {
        height: 500px;
    }
    &__bottom {
        margin-bottom: 80px;
    }
    &__font-tittle {
        font-size: 30px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: #fff;
    }
    &__font {
        font-size: 17px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: #fff;
    }
    &__input-bg {
        background-color: transparent;
        width: 90%;
        border-top: none;
        border-right: none;
        border-left: none;
    }
    &__color {
        color: #fff;
    }
}

// Modal History Start
.history {
    &__font {
        font-size: 17px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: black;
    }
}

// Modal History End
// Profile End
// Footer Start
.footer {
    &__height {
        height: 400px;
    }
    &__tittle {
        font-family: 'Montserrat', sans-serif;
        color: #fff;
        font-size: 16px;
        letter-spacing: 2px;
        font-weight: 500;
        margin-bottom: 40px;
    }
    &__font {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.6);
    }
    &__social {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.6);
    }
    &__space {
        margin-right: 10px;
    }
    &__border {
        border: 1px solid rgba(255, 255, 255, 0.6);
    }
    &__logo {
        width: 40%;
    }
    &__height-logo {
        height: 20px;
    }
    &__bottom {
        margin-bottom: 50px
    }
}

// Footer End