<div class="card-header">
    <h6 class="text-uppercase mb-0">Quản Lý Sản phẩm</h6>
    <a routerLink="./add" title="Thêm mới" style="position: absolute;right: 35px;top: 22px;"><i
            class="fas fa-plus-square text-success" style="font-size: 24px"></i></a>
</div>
<div class="card-body">
    <table class="table table-hover card-text">
        <thead>
            <tr>
                <th>No.</th>
                <th>Tên Sản phẩm</th>
                <th>Chi tiết</th>
                <th>Giá</th>
                <th>Chức năng</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let combo of combos; index as key">
                <td>{{key+1}}</td>
                <td>{{combo.product_name}}</td>
                <td>{{combo.product_detail}}</td>
                <td>{{combo.product_value}}</td>
                <td><a [routerLink]="['edit',combo.id]"><button style="background-color: #ffffff00;border: none" title="Sửa"><i
                                class="fas fa-edit text-success"></i></button></a><br>
                    <button style="background-color: #ffffff00;border: none" title="Xóa"><i
                            class="fas fa-trash-alt text-danger"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>